:root {
  --background: #94ac9f;
  --textbackground: #83998d;
  --main-color: #2e3a3a;
  --secondary-color: #6e8378;
  --error-background: #ffa69e93;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: 'Public Sans', sans-serif;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--textbackground);
  text-shadow: 2px 2px 5px #ffffffe0,
  -2px -2px 5px var(--secondary-color);
  font-size: 4rem;
}

main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--main-color);
  font-weight: 400;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 400px;
  padding:20px 40px;
  box-shadow: 3px 3px 20px #87978fe0,
  -3px -3px 20px #bed3c8e0,
  inset 0px -3px 10px #bed3c8e0,
  inset 0px 3px 10px #87978fe0;
  border-radius: 10px;
}

.details-container p {
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.details-container .city-name {
  font-size: 3rem;
  font-weight: 700;
  color: var(--textbackground);
  text-shadow: 1px 1px 2px #ffffffe0,
  -1px -1px 2px var(--secondary-color);
}

.details-container .temperature {
  font-size: 6rem;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--textbackground);
  text-shadow: 2px 2px 5px #ffffffe0,
  -2px -2px 5px var(--secondary-color);
}

.details-container .condition {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  vertical-align:middle;
  color: var(--textbackground);
  text-shadow: 1px 1px 2px #ffffffe0,
  -1px -1px 2px var(--secondary-color);
}

.error {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  padding: 30px; 
  background-color: var(--error-background);
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 5px #d78a83;
}

.error .error-message {
  color: var(--main-color);
  font-weight: 700;
}